.header{
    height:50px;
    display: flex;
    align-items:center;
    border-bottom: 0.5px solid rgb(230, 227, 227);
    .wrapper{
        display:flex;
        .items{
            display: flex;
        }
    }
}