.sidebar{
    border-right: 1px solid gray;
    height:100vh;
    .top{
        margin:0px;
        display: flex;
        align-items:center;
        justify-content:center;
        padding:5px;
      
        .logo{
            color:cyan;
            font-size: 30px;
            font-weight: bold;
        ;
        }
    }
    .ruler{
        background-color: red;
        color:aqua;
    }
}